{# {% htmlcompress %} #}
<!doctype html>

<!--[if lt IE 7]>
<html class="nojs ms lt_ie7" lang="en"><![endif]-->
<!--[if IE 7]>
<html class="nojs ms ie7" lang="en"><![endif]-->
<!--[if IE 8]>
<html class="nojs ms ie8" lang="en"><![endif]-->
<!--[if gt IE 8]>
<html class="nojs ms" lang="en"><![endif]-->

<html>

    <head>
        {% include "theme::partials/metadata" %}
    </head>

    <body class="default">
        {% include "theme::partials/header" %}

        <section class="page">
            <p>Uh oh!</p>
        </section>

        {% include "theme::partials/footer" %}
        {% include "theme::partials/bug" %}
        {% include "theme::partials/assets" %}
    </body>
</html>
{# {% endhtmlcompress %} #}
