{% for style in asset_styles("styles.css") %}
	{{ style|raw }}
{% endfor %}

{% for script in asset_scripts("ucandance.js") %}
	{{ script|raw }}
{% endfor %}

{% for script in asset_scripts("theme.js") %}
    {{ script|raw }}
{% endfor %}