<ol class="breadcrumb">
    {% for key, url in template.breadcrumbs %}

        {% if loop.last %}
            <li class="active">
                <a href="{{ url }}" title="{{ trans(key) }}" data-breadcrumb="{{ trans(key) }}">
                    {{ trans(key) }}
                </a>
            </li>
        {% else %}
            <li>
                <a href="{{ url }}" title="{{ trans(key) }}" data-breadcrumb="{{ trans(key) }}">
                    {{ trans(key) }}
                </a>
            </li><span> &#8250; </span>
        {% endif %}

    {% endfor %}
</ol>