{{ asset_add("ucandance.js", "finnito.theme.ucandance::/js/forms/bugReporter.js")}}
{{ asset_add("ucandance.js", "finnito.theme.ucandance::js/forms/ajax.js") }}
{% set form = form({
	"ajax": true,
	"options": {
		"redirect": false,
	},
	"handler": "Finnito\\UcandanceTheme\\Form\\ReportFormHandler@handle",
	"fields": {
		"name": {
			"type": "text",
			"required": false,
			"placeholder": "Name",
			"instructions": "Your Name",
			"value": auth_user().display_name ?: ""
		},
		"current_url": {
			"type": "url",
			"required": true,
			"placeholder": "https://ucandance.org/...",
			"instructions": "URL for the bug or feature",
			"value": app.request.uri
		},
		"report": {
			"type": "textarea",
			"instructions": "Bug Report or Feature Request",
			"required": true,
			"placeholder": "Your report..",
		},
		"file": {
			"type": "upload",
			"instructions": "A file/screenshot associated with your feature or bug",
			"required": false,
			"config": {
				"folder": [
					"bug_reports"
				],
				"max": 1,
				"mimes": [
					"jpg",
					"jpeg",
					"png",
					"pdf",
					"txt",
				]
			}
		},
		"sysinfo": {
			"type": "textarea",
			"instructions": "System Debug Information",
			"required": true,
		}
	},
	"actions": {
		"send": {
			"type": "good",
			"text": "Send",
		}
	}
}).get() %}

<div class="bug-reporter">
	<div>
		{{ form.open({"class": "ajax"})|raw }}
		{{ form.fields.report|raw }}
		<fieldset>
			{{ form.fields.name|raw }}
			{{ form.fields.current_url|raw }}
			{{ form.fields.file|raw }}
			{{ form.fields.sysinfo|raw }}
		</fieldset>
		{{ form.actions|raw }}
		{{ form.close|raw }}
		<div class="success hidden">
			<h1>Sent!</h1>
			<p>Thank you for reporting that bug or requesting that feature!</p>
			<p>Your report has been lodged on Trello<br><pre><a href="https://trello.com/b/Z1vR9lSm" target="_blank">https://trello.com/b/Z1vR9lSm</a></pre></p>
		</div>
	</div>
</div>