<footer>
	{% include("theme::partials/breadcrumbs") %}
	<div>
		<h3>Menu</h3>
		<span class="divider bg-ucd"></span>
		{{ menu("Footer_1")
            .listClass("footer-menu clean")
            .activeClass("current")
            .render()|raw }}
	</div>
	<div>
		<h3>Contact</h3>
		<span class="divider bg-ucd"></span>
		<p>
			Postal Address<br>
			<a
				href="{{ variable('core', 'postal_address').url }}"
				target="_blank"
				title="UCanDance on Google Maps">
				{{ variable('core', 'postal_address').address }}
			</a>
		</p>
		{{ menu("contact")
            .listClass("footer-menu clean")
            .activeClass("current")
            .render()|raw }}
	</div>
	<div>
		<h3>Follow</h3>
		<span class="divider bg-ucd"></span>
		<ul class="clean">
			<li><a href="/sitemap.xml">Sitemap</a></li>
			<li>Developed by <a href="https://finnito.nz" target="_blank">Finn LeSueur</a></li>
			<li>© UCanDance Club Incorporated {{ date().format("Y") }}</li>
		</ul>
		<span class="button error bug-reporter-button">Bug & Feature Reporter</span>
	</div>
</footer>