<div class="hero">
	<header id="header">
    	{% include "theme::partials/navigation" %}
	</header>

	<div class="hero-content">
		{% set nextEvent = entries("events", "events")
			.nextEvent()
			%}

		{% set nextClass = entries("classes", "nights")
			.nextClass()
			%}
		{% set news = entries("news", "news")
			.currentNews()
			%}

		<div class="event-widget">
			<h2>Next Event</h2>
			<div>
				{% if nextEvent %}
					<p>{{ nextEvent.name }}<br>
					{{ nextEvent.start_time|date("dS F, g:ia") }}</p>
					<a
						class="btn btn-good"
						title="More Information"
						href="/events">More Information</a>
				{% else %}
					<p>No event scheduled.</p>
				{% endif %}
			</div>
		</div>

		<div class="class-widget">
			<h2>Next Class</h2>
			<div>
				{% if nextClass %}
				<p>{{ nextClass.class_date.date|date("l d \\of M") }}</p>
				<ul class="square">
					{% for class in nextClass.night_classes %}
						<li>{{ class.class_style.name }} @{{ class.class_start|date("h:ia") }}</li>
					{% endfor %}
				</ul>
				<a
					class="btn btn-good"
					title="More Information"
					href="/classes">More Information</a>
				{% else %}
					<p>No class scheduled.</p>
				{% endif %}
			</div>
		</div>

		<div class="news-widget">
			<h2>News</h2>
			<div>
			{% if news %}
				{{ news.content|raw }}
			{% else %}
				<p>No news.</p>
			{% endif %}
			</div>
		</div>
	</div>
</div>

