<!-- Locale -->
<meta http-equiv="Content-Language" content="{{ config('app.locale') }}">

<!-- To the Future! -->
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<!-- Meta Tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width"/>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="generator" content="{{ config_get('streams::distribution.name') }}"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
<meta name="description" content="{{ trans(template.meta_description) }}"/>

{% block ogdata %}
    <meta property="og:site_name"
          content="{{ setting_value('streams::name', config_get('streams::distribution.name')) }}"/>
    <meta property="og:image" content="{{ file(template.meta_image).make.path()  }}"/>
    <meta property="og:description" content="{{ trans(template.meta_description) }}"/>
    <meta property="og:title" content="{{ trans(template.meta_title) }}"/>
    <meta property="og:url" content="{{ url_current() }}"/>
    <meta property="og:type" content="website"/>
{% endblock %}

<title>
    {{ setting_value('streams::name', config_get('streams::distribution.name')) }}
    &#8250;
    {{ trans(template.meta_title) }}
</title>

{{ asset_add("theme.css", "theme::dist/theme.css") }}
{{ asset_add("theme.js", "theme::dist/theme.min.js") }}

<!-- Favicon -->
{# {{ favicons("theme::img/favicon.png") }} #}

<style>
	{% for colour in variable_value("theme", "colours") %}
		.bg-{{ colour.name }} {
			background-color: {{ colour.hex_code }};
		}
		.bb-{{ colour.name }} {
			border-bottom: 1px solid {{ colour.hex_code }};
		}
		.bt-{{ colour.name }} {
			border-top: 1px solid {{ colour.hex_code }};
		}
	{% endfor %}
	{% for year in variable('theme', 'committee_colours') %}
		.y-{{ year.committee_year }}:hover,
		.y-{{ year.committee_year }}:active {
			background-color: {{ year.committee_colour }};
			transition: background-color 300ms;
		}
		.y-{{ year.committee_year }}:hover a,
		.y-{{ year.committee_year }}:active a {
			transition: color 300ms;
			color: white;
		}
		.y-{{ year.committee_year }}.active {
			background-color: {{ year.committee_colour }};
		}
		.y-{{ year.committee_year }}.active a{
			color: white;
		}
		.y {
			transition: all 300ms;
		}
	{% endfor %}
	{{ asset_inline("theme.css", ["live"]) }}
</style>

<script>
    {{ asset_inline("theme.js") }}
</script>

{# Important!! #}
{{ constants() }}
