<nav>
	<a href="/" class="logo">
		<img src="{{ variable('theme', 'logo').make.path }}"/>
	</a>

    <input type="checkbox" class="toggle mobile"/>
    <div class="hamburger mobile">
        <span></span>
        <span></span>
        <span></span>
    </div>

    <div>
        {{ menu("Header")
                .listClass("desktop nav-flex clean")
                .activeClass("current")
                .render()|raw }}

        {% if (user().hasAnyRole(['admin', 'teacher', 'helper', 'committee'])) %}
            {{ menu("Admin")
                .listClass("desktop nav-flex clean admin")
                .activeClass("current")
                .listTag("")
                .render()|raw }}
        {% endif %}
    </div>

    <div class="nav-wrapper mobile">
        {% if auth_check() %}
            {% if not user.isSignedUp %}
                <a href="/profile/join" class="btn btn-success wide">
                    Sign-Up for {{ "now"|date("Y") }}!
                </a>
            {% endif %}
        {% endif %}
        {{ menu("Header")
            .listClass("clean")
            .activeClass("current")
            .render()|raw }}

        {% if (user().hasAnyRole(['admin', 'teacher', 'helper', 'committee'])) %}
            <p class="separator">Admin</p>
            {{ menu("Admin")
            .listClass("clean")
            .activeClass("current")
            .listTag("")
            .render()|raw }}
        {% endif %}
    </div>
</nav>