footer {
    background-color: $grey4;
    // text-transform: uppercase;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    font-size: 0.9rem;

    @media (min-width: $mobileBreakpoint) {
        padding: 2rem 4rem;
    }
}

footer > div {
    max-width: 100%;
    flex-grow: 1;
    min-width: 300px;
    margin: 1rem 2rem;
    @media (min-width: $mobileBreakpoint) {
        max-width: 400px;
        margin: 1rem 0;
    }
}
footer > div.full {
    width: 100%;
}

footer p,
footer a {
    color: white;
}

footer > div ul.clean {
    margin-top: 1rem;
    // font-size: 0.9rem;
}

footer ul li,
footer ul li a,
footer h3 {
    color: white;
    margin-left: 0;
}

footer ul li a {
    margin: 0.5rem 0;
    line-height: 2;
}