body:not(.grad) .hero {
    // min-height: 100vh;
    // background: linear-gradient(-45deg, #6dd5ed, #2193b0, #6dd5ed, #2193b0);
    // background-size: 300% 300%;
    // background: linear-gradient(-45deg, $gradStart, $gradEnd);
    background: #2193b0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(45deg, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(45deg, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    // animation: HeroGradient 15s linear infinite;
    // -webkit-animation: HeroGradient 15s linear infinite;
    // animation-fill-mode: forwards;
}

.hero-content {
    padding: 3rem 1rem 4rem 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-top: 7.5rem;
    @media(min-width: $mobileBreakpoint) {
        padding-top: 3rem;
    }
}

.hero-content > div {
    margin: 2rem;
    max-width: 300px;
    // width: 100%;
    @media (min-width: $mobileBreakpoint) {
        margin: 0 2rem;
    }
}

.hero-content > div h2 {
    font-size: 3rem;
}

.hero-content > div h2 {
    margin: 0;
}

.hero-content > div > div {
    border-top: 1px solid white;
}

.hero-content > div > div p {
    font-size: 1.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0;
}

.hero-content p,
.hero-content h2,
.hero-content li {
    color: white;
}

.hero-content .event-widget {
    order: 3;
    @media(min-width: $mobileBreakpoint) {
        order: 1;
    }
}

.hero-content .class-widget {
    order: 2;
    @media(min-width: $mobileBreakpoint) {
        order: 2;
    }
}

.hero-content .news-widget {
    order: 1;
    @media(min-width: $mobileBreakpoint) {
        order: 3;
    }
}

@keyframes HeroGradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}
