nav .logo {
    height: 100%;
    max-width: calc(100% - 5rem);
    box-sizing: border-box;
    // padding: 0.5rem;
    width: 100%;
    filter: invert(1);

    @media(min-width: $mobileBreakpoint) {
        max-width: 500px;
    }
    @media(min-width: $mobileBreakpoint) {
        filter: none;
    }
}

nav .logo img {
    max-height: 100%;
    @media(min-width: $mobileBreakpoint) {
        max-width: 100%;
    }
}

nav {
    background-color: white;
    box-shadow: $shadow;

    box-sizing: border-box;
    position: fixed;
    width: 100%;
    top:0;
    padding: 0.5rem 1rem;
    z-index: 9999999;
    height: 4rem;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    // overflow-y: scroll;
    // height: 100%;

    @media (min-width: $mobileBreakpoint) {
        height: auto;
        position: relative;
        background-color: transparent;
        box-shadow: none;
        flex-wrap: wrap;
    }
}

ul.nav-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-end;
}

ul.nav-flex.desktop {
    display: none;
    @media(min-width: $mobileBreakpoint) {
        display: flex;
    }
}

ul li {
    border-radius: 0.25rem;
    margin: 0 .25rem;
    width: auto;
    border: 2px solid transparent;
    transition: all 200ms;
}

ul li.btn {
    margin: 0 1rem;
}

ul.nav-flex li a {
    color: white;
    display: block;
    padding: 0.25rem .5rem;
    transition: background-color 300ms;
    background-color: transparent;
}

ul.nav-flex li.btn {
    padding: 2px;
}

ul.nav-flex li.selected {
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid white;
}

ul.nav-flex li:not(.btn):hover,
ul.nav-flex li:not(.btn):active {
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.25);
}

ul.nav-flex:last-child:not(:first-child) {
    margin-top: 0.75rem;
    border-top: 1px solid rgba(255, 255, 255, 0.25);
    padding-top: 0.75rem;
}

ul.nav-flex li.dropdown {
    position: relative;
    overflow: visible;
}
ul.nav-flex li.dropdown ul {
    position: absolute;
    width: 200%;
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
    list-style: none;
    padding: 0;
    overflow: hidden;
    z-index: -999999;
    opacity: 0;
    transition: opacity 300ms;
    margin-top: 0.5rem;
    // visibility: hidden;
}

ul.nav-flex li.dropdown ul li a {
    color: black;
}

ul.nav-flex li.dropdown:hover ul,
ul.nav-flex li.dropdown:active ul {
    opacity: 1;
    z-index: 99999;
    // visibility: visible;
}

.nav-wrapper {
    width: 100vw;
    position: absolute;
    left: 0;
    height: calc(100vh - 4rem);
    top: 4rem;
    background-color: $grey4;
    transition: all 300ms;
    padding: 1rem;
    box-sizing: border-box;
    overflow-y: scroll;
    text-align: right;

    @media (min-width: $mobileBreakpoint) {
        position: relative;
        transform: translateX(0);
        height: auto;
        top: 0;
    }
}

.nav-wrapper .separator {
    color: lighten($grey4, 20%);
    text-align: right;
    font-size: 0.8rem;
    text-transform: uppercase;
    // border-bottom: 2px solid white;
    margin: 1.5rem 1rem 0 1rem;
}

.nav-wrapper ul li a {
    color: white;
    text-align: right;
}

.nav-wrapper ul li:not(.btn) {
    text-align: right;
    margin: 0;
    border: none;
}

.nav-wrapper ul li:not(.btn) a {
    display: block;
    padding: 0.5rem;
}

.nav-wrapper ul li:not(.btn).selected a,
.nav-wrapper ul li:not(.btn) a:hover,
.nav-wrapper ul li:not(.btn) a:active {
    background-color: lighten($grey4, 5%);
    border-bottom: 0;
}


// .nav-flex ul {
//  margin-bottom: 0.5rem;
//  padding-bottom: 0.5rem;
//  // border-bottom: 1px solid $gray-lighter;
// }

// .nav-flex ul:last-child {
//  margin-bottom: 0;
//  border-bottom: 0;
// }

// ul.nav {
//  display: flex;
//  flex-direction: column;
//  flex-wrap: wrap;
//  align-items: center;
//  flex-grow: 1;
//  justify-content: flex-end;
//  @media (min-width: 1000px) {
//      flex-direction: row;
//  }
// }

// ul.nav li {
//  margin: 0 .5rem;
//  width: auto;
//  padding: 0;
// }

// ul.nav li a {
//  padding: 0.5rem;
// }

// nav ul {
//  display: flex;
//  flex-direction: column;
//  flex-wrap: nowrap;
//  align-content: center;
//  align-self: center;

//  list-style: none;
//  margin: 0;
//  padding: 0;

//  @media (min-width: 1000px) {
//      flex-direction: row;
//  }
// }

// nav ul li a {
//  padding: .5rem .5rem 0 .5rem;
//  display: block;
//  color: white;
//  margin: 0 1rem;
//  // width: 7.5rem;
// }

// nav ul li.selected {
//  border-radius: 0.25rem;
//  border: 2px solid white;
//  background-color: rgba(255,255,255,0.1);
// }

// nav ul.admin {
//  // padding: 0.5rem;
//  // background-color: $gray-lighter;
//  width: 100%;
//  justify-content: flex-end;
// }

// nav ul.admin li a {
//  // color: $gray-darker;
// }

