body,
html {
	margin: 0;
	min-height: 100vh;
	max-width:100vw;
	overflow-x: hidden;
	transition: all 300ms;
}

img {
	max-width: 100%;
}

.flex-apart {
	align-items: center;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
}

.flex-apart p:first-child {
	font-weight: 700;
	text-transform: uppercase;
}

.page {
	display: grid;
	// grid-template-columns: 100%;
	// grid-template-rows: auto auto;
	grid-template-columns: auto 1fr;
	grid-template-rows: auto auto auto;
	grid-template-areas:	"breadcrumb breadcrumb"
							"sidebar pageContent"
							"mobileSidebar mobileSidebar";
	@media(min-width: $mobileBreakpoint) {
		margin-top: auto;
		// grid-template-columns: 300px auto;
	}
}

.slim {
	width: 100%;
	max-width: 300px;
}

.center {
	margin: auto;
}

.sidebar {
	grid-area: mobileSidebar;
	// background-color: $grey1;
	max-width: 400px;
	min-width: 300px;
	// grid-column: span 1;
	margin-top: 1.5rem;
	padding: 1rem 2rem;
	// grid-row: 3;
	justify-self: center;
	width: 100%;
	box-sizing: border-box;
	// border-top: 1px solid darken($grey1, 5%);
	@media (min-width: $mobileBreakpoint) {
		grid-area: sidebar;
	}
}

.page-content {
	margin: auto;
	padding: 0.5rem;
	grid-area: pageContent;
	// grid-column: 1 / span 1;
	// max-width: 1600px;
	box-sizing: border-box;
	width: 100%;

	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	flex-wrap: wrap;

	@media(min-width: $mobileBreakpoint) {
		// grid-column: 2 / span 1;
		flex-direction: row;
		// width: 100%;
		padding: 1rem 2rem;
	}
}

.page-content > div {
	width: 100%;
}

.page-content > div:nth-child(2):not(:last-child) {
	order: 2;
	border-top: 1px solid $grey3;
	// margin-top: 1rem;
	@media(min-width: $mobileBreakpoint) {
		width: 300px;
		// margin-right: 2rem;
		order: 1;
		border-top: none;
	}
}

.page-content > div:nth-child(3):not(:first-child) {
	order: 1;
	@media(min-width: $mobileBreakpoint) {
		width: calc(100% - 400px);
		order: 2;
	}
}


// .page-content > .col-1 {
// 	@media(min-width: 700px) {
// 		width: 200px;
// 		margin-right: 2rem;
// 	}
// }

// .page-content > .col-2 {
// 	@media(min-width: 700px) {
// 		width: calc(100% - 200px);
// 	}
// }

.page-content > div:first-of-type > h1 {
	margin-top: 0;
}

section.classes h2 {
	margin-bottom: .5rem;
}

section.classes .description {
	margin-top: 0;
	font-style: italic;
}

.divider {
	display: block;
	width: 100%;
	// height: 2px;
	border-top: 1px solid rgba(255, 255, 255, 0.25);
	margin: 1.5rem 0;
}

.hidden {
	display: none;
}

.card {
	border-radius: $radius;
	box-shadow: $shadow;
	background-color: $grey1;
	padding: .5rem;
}

.card:not(:last-child) {
	margin-bottom: 1rem;
}

.card-title {
	margin: 0.5rem;
	text-align: center;
}

.card-title + .sub {
	text-align: center;
}