body.event .hero {
	background: none;
	min-height: 90vh;
	position: relative;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}


body.event .hero .hero-content {
	z-index: 1;
	flex-grow: 1;
}

body.event .hero .event-banner {
	position: absolute;
	object-fit: cover;
	top: -2px;
	left: -2px;
	z-index: 1;
	filter: blur(2px) brightness(0.75);
	max-width: calc(100% + 4px);
	min-height: 100%;
}

body.event .hero-content {
	flex-direction: column;
	align-items: center;
	text-align: center;
}

body.event .hero-content .event-meta {
	padding: 1rem;
	background-color: rgba(255,255,255,0.1);
	border: 4px solid rgba(255,255,255,0.75);
	outline: 1rem solid rgba(255,255,255,0.1);
	box-sizing: border-box;
}

body.event .event-meta,
body.event .event-meta span,
body.event .event-title,
body.event .links span {
	color: white;
}

body.event .event-meta .mid {
	display: flex;
	flex-direction: column;
	border-top: 4px solid white;
	border-bottom: 4px solid white;
	padding: 0.5rem 0;
}

body.event .event-meta .event-date {
	font-size: 2rem;
	font-weight: 700;
	text-transform: uppercase;
}

body.event .event-meta .prices {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

body.event .links {
	margin-top: 1.5rem;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	text-transform: uppercase;
}

body.event .links .open-bracket,
body.event .links .close-bracket {
	font-size: 1.5rem;
}

body.event .links > div {
	border-top: none;
}