body.grad {
	background: linear-gradient(-45deg, #6dd5ed, #2193b0);
	// background-size: 400% 400%;
	// animation: HeroGradient 30s linear infinite;
	// -webkit-animation: HeroGradient 30s linear infinite;
	// animation-fill-mode: forwards;
}

body.grad .page {
	margin-top: 4rem;
	@media(min-width: $mobileBreakpoint) {
		margin-top: auto;
	}
}

body.grad .grid .row:first-child h1,
body.grad .grid .row:first-child h2,
body.grad .grid .row:first-child h3,
body.grad .grid .row:first-child h4 {
	color: white;
}
body.grad .grid:not(:last-child) {
    border-bottom: none;
}

body.grad ::placeholder {
	color: rgba(255, 255, 255, 0.6);
	transition: all 300ms;
}

body.grad input {
	color: white;
}

body.grad input:focus,
body.grad textarea:focus {
	outline: none;
	box-shadow: none;
	border-bottom: 1px solid white;
}

body.grad input:focus::placeholder,
body.grad textarea:focus::placeholder,
body.grad input:focus {
	color: white;
}

body.grad .grid p {
	color: white;
}

body.grad .boolean-field_type .switch__checkbox.switch__checkbox--on-success:checked + .switch__label,
body.grad .boolean-field_type .switch__checkbox.switch__checkbox--off-default + .switch__label {
	border: 2px solid white;
}

body.grad fieldset input {
	border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

body.grad .breadcrumb {
	background-color: rgba(255, 255, 255, 0.25);
	// border-top: 1px solid rgba(255, 255, 255, 0.25);
	// border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

// body.grad footer .breadcrumb {
// 	border-radius: $radius;
// }

body.grad .breadcrumb span,
body.grad .breadcrumb a {
	color: white;
}

// body.grad .breadcrumb li a {
// 	border-bottom: 1px solid white;
// }