body.heroless .grid .row:first-child h1,
body.heroless .grid .row:first-child h2,
body.heroless .grid .row:first-child h3,
body.heroless .grid .row:first-child h4 {
	color: black;
	margin: 0;
}

body.heroless .page {
    margin-top: 4rem;
    @media (min-width: $mobileBreakpoint) {
        margin-top: auto;
    }
}