.mobile {
    display: block;
    @media(min-width: $mobileBreakpoint) {
        display: none;
    }
}

.desktop {
    display: none;
    @media(min-width: $mobileBreakpoint) {
        display: block;
    }
}