.breadcrumb.overflowed-content {
    box-shadow: inset -7px 0 9px -7px rgba(0,0,0,0.33);
}

.breadcrumb span,
.breadcrumb a {
    color: $grey5;
}

.breadcrumb {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    background-color: $grey1;
    margin: 0;
    padding: 0.25rem;
    overflow-x: scroll;
    grid-area: breadcrumb;
    grid-column: span 2;
}

.breadcrumb li {
    margin: 0.25rem 0.5rem;
    white-space: nowrap;
}

.breadcrumb li a {
    display: inline-block;
    border-bottom: 1px solid $grey1;
    // padding: 0.25rem;
}

.breadcrumb li.active a {
    color: black;
    font-weight: 500;
}

footer .breadcrumb {
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: $radius;
    margin: 0.5rem;
    width: 100%;
    @media(min-width: $mobileBreakpoint) {
        margin: 0;
    }
}

footer .breadcrumb span,
footer .breadcrumb a {
    color: white;
}

footer .breadcrumb li a {
    border-bottom: 1px solid white;
}

footer .breadcrumb li.active a {
    color: white;
    font-weight: 500;
}

footer .breadcrumb li a[data-breadcrumb="home"] {
    font-size: 0;
}