// .overlay-box {
//     bottom: 2rem;
//     position: fixed;
//     right: 2rem;
//     z-index: 999999999;
//     padding: 0.5rem;
//     background-color: $green;
//     border-radius: $radius;
//     box-shadow: $shadow;
//     overflow: hidden;
// }

// .overlay-box .toggle-button {
//     width: 2rem;
//     height: 2rem;
//     margin-right: 0;
//     margin-left: auto;
//     position: relative;
// }

// .overlay-box .toggle-button + .content {
//     // height: 0;
//     transition: font-size 200ms;
//     overflow: hidden;
//     // width: 2rem;
//     font-size: 0;
// }

// .overlay-box .content a,
// .overlay-box .content span {
//     color: white;
//     display: block;
//     text-align: right;
// }

// .overlay-box .toggle-button.active + .content a {
//     padding: 0.5rem 0;
// }

// .overlay-box .toggle-button.active + .content a:not(:last-child) {
//     border-bottom: 1px solid white;
// }

// .overlay-box .toggle-button.active span:nth-child(1) {
//     transform: rotate(495deg);
// }

// .overlay-box .toggle-button.active span:nth-child(2) {
//     transform: rotate(405deg);
// }

// .overlay-box .toggle-button span {
//     background-color: white;
//     display: block;
//     height: 4px;
//     // margin: 3px 0;
//     top: calc(1rem - 2px);
//     width: 100%;
//     position: absolute;
//     transition: transform 200ms;
// }

// .overlay-box .toggle-button span:nth-child(1) {
//     transform: rotate(0);
// }

// .overlay-box .toggle-button span:nth-child(2) {
//     transform: rotate(90deg);
// }

// .overlay-box .toggle-button.active + .content {
//     max-width: 100%;
//     // height: 5rem;
//     // width: 300px;
//     font-size: 1rem;
// }


// NEW ^^
// .overlay-buttons {
//  position: fixed;
//  bottom: 2rem;
//  right: 2rem;
// }

.bug-reporter {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    transition: all 200ms;
    z-index: -9999999;
    opacity: 0;
}

.bug-reporter form {
    transition: opacity 200ms;
}
.bug-reporter form.processing {
    opacity: 0.5;
}

body .bug-reporter input,
body .bug-reporter textarea {
    color: $black;
    background-color: white;
    border-radius: $radius;
    border: none;
    font-size: 1rem;
    padding: 0.25rem;
}

body .bug-reporter input:focus,
body .bug-reporter textarea:focus {
    border: none;
    color: $black;
}

.bug-reporter form div:first-of-type p.text-muted {
    margin-top: 0;
}

.bug-reporter input::placeholder,
.bug-reporter textarea::placeholder {
    color: $grey3;
}

.bug-reporter p.text-muted {
    margin-top: 0.5rem;
    margin-bottom: 0;
    color: $grey3;
    font-size: 0.8rem;
}

.bug-reporter.open {
    z-index: 9999999;
    background-color: rgba(0,0,0,0.5);
    opacity: 1;
}

.bug-reporter > div {
    width: 100%;
    max-width: 400px;
    background-color: $grey1;
    border-radius: 0.25rem;
    padding: 1rem;
    margin: 0 1rem;
}

.bug-reporter .success {
    text-align: center;
}

.bug-reporter .success a {
    font-weight: 700;
}

.bug-reporter-button:hover {
    cursor: pointer;
}

.bug-reporter .btn-good {
    margin-bottom: 0;
}

// // .edit-button,
// // .bug-reporter-button {
// //   width: 3rem;
// //   height: 3rem;
// //   border-radius: 100%;
// //   display: flex;
// //   justify-content: center;
// //   align-items: center;
// //   color: white;
// //   font-weight: 500;
// //   background: #DA4453;  /* fallback for old browsers */
// //   background: -webkit-linear-gradient(to right, #89216B, #DA4453);  /* Chrome 10-25, Safari 5.1-6 */
// //   background: linear-gradient(to right, #89216B, #DA4453); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
// //   box-shadow: $shadow;
// //   transition-property: background;
// //   transition-duration: 1s;
// //   position: static;
// //   margin: 0 0 0 auto;
// // }

// .edit-button {
//  margin-bottom: 1rem;
// }

.bug-reporter-button {
    // border-radius: 0.25rem;
    // padding: 0 1rem;
    // bottom: 6rem;
    // width: auto;
    margin-top: 1rem;
}