button,
.button,
.btn {
    padding: 0.5rem 1rem;
    text-align: center;
    display: inline-block;
    color: white;
    box-sizing: border-box;
    transition: box-shadow 300ms, background-color 300ms;
    border-radius: $radius;
    box-shadow: $shadow;
    margin: .5rem auto;
    font-weight: 700;
    text-transform: uppercase;
}

button:hover,
.button:hover,
.btn:hover {
    box-shadow: $shadow-hover;
    cursor: pointer;
}

.btn-good,
.btn-success,
button.good,
button.success,
.button.good,
.button.success {
    background: $green;
}

.btn-info,
button.info,
.button.info {
    background: $blue;
}

.btn-warning,
button.warning,
.button.warning {
    background: $orange;
}

.btn-error,
button.error,
.button.error {
    background: $red;
}

.hero-content .btn {
    margin-top: 2rem;
}

.button.wide,
button.wide {
    width: 100%;
}