form {

}

form,
input,
textarea,
select,
option,
button,
fieldset {
    box-sizing: border-box;
    border: none;
    padding: 0;
    margin: 0;
    font-size: inherit;
    width: 100%;
}

input,
textarea {
    // box-shadow: inset 0 0 3px transparent;
    transition: box-shadow 300ms;
    // box-shadow: inset 0 0 3px #868686;
    background-color: transparent;
    border-bottom: 1px solid rgba(0,0,0,.25);
}

input:focus,
textarea:focus {
    outline: none;
    // box-shadow: inset 0 0 3px $green;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

// fieldset {
//  box-shadow: inset 0 0 3px #868686;
// }

fieldset input {
    // border-radius: $radius;
    // margin: 0.25rem auto;
    background-color: transparent;
    border: none;
    box-shadow: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
    // border-bottom: 1px solid lightgrey;
    border-radius: 0;
    color: black;
    padding: 0.5rem 0 0 0;
    transition: all 300ms;
    font-size: 1.25rem;
}

input,
textarea,
select,
option,
button {
    padding: 0.5rem;
}

.choices__inner {
    box-sizing: border-box;
}

.boolean-field_type label {
    display: none;
}

.boolean-field_type .switch {
    padding-right: 4px;
}