.grid {
    overflow: hidden;

}

.grid:not(:last-child) {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid $grey1;
}

.grid.compact .row:not(:first-child) {
    margin-bottom: 0;
}

.grid .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    // border-bottom: 1px solid $gray-lighter;
    // padding: 1rem 1rem 0 1rem;
    box-sizing: border-box;
    @media(min-width: $mobileBreakpoint) {
        flex-direction: row;
    }
}

.grid .row.spaced > .column:not(:last-child) {
    margin-right: 1rem;
}

// .grid .row:nth-child(n+2) {
//     border-bottom: 1px solid lightgrey;
// }

.grid .row:not(:first-child):not(:last-child) {
    margin-bottom: 1rem;
}

.grid .row > .column.small {
    flex-grow: 0;
}

// .grid .row:last-child {
//  padding-bottom: 1rem;
// }

.grid .row:first-child {
    flex-direction: row;
    padding-top: 0;
}

.grid .row:first-child h1,
.grid .row:first-child h2,
.grid .row:first-child h3,
.grid .row:first-child h4 {
    color: black;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.grid .row:first-child {
    color: black;
    font-weight: 700;
    // border-top-left-radius: 0.25rem;
    // border-top-right-radius: 0.25rem;
}

.grid .row p {
    margin: 0.25rem 0;
}

.grid .row p ~ h2 {
    margin-bottom: 0;
}

.grid .row h2 + p {
    margin-top: 0;
    font-size: .8rem;
}

.grid .row > .column {
    padding-right: 0.25rem;
    margin: 0;
    flex-grow: 2;
    min-width: min-content;
    // width: 100%;
}

.grid .row > .column.short {
    flex-grow: 1;
    text-align: right;
}

.grid .row > .column:last-child {
    padding-right: 0rem;
}

.grid .row > .column label.control-label,
.grid .row > .column p.text-muted,
.grid .row > .column .input-group-addon {
    display: none;
}

// .grid .row.divider {
//     // border-top: 1px solid $omniGrey;
//     // padding-top: 1.5rem;
//     margin-top: 1rem;
//     // padding-bottom: 1.5rem;
// }

body.grad .grid p {
    color: black;
}