input[type=checkbox].toggle,
.hamburger {
    position: absolute;
    right: 1.5rem;
    top: calc(( 4rem - 28px + 8px) / 2);
    margin: 0;
    width: 28px;
    height: 28px;
}

.hamburger {
    z-index: 99999;
}

.hamburger span {
    height: 4px;
    border-radius: 2px;
    background-color: $grey4;
    margin-bottom: 5px;
    display: block;
    transition: all 500ms;
}

.hamburger span:last-child {
    margin-bottom: 0;
}

.toggle {
    z-index: 9999999;
    opacity: 0;
}

.toggle:hover {
    cursor: pointer;
}

.toggle ~ .nav-wrapper {
    transform: translateX(100%);

    @media (min-width: $mobileBreakpoint) {
        transform: none;
    }
}

.toggle:checked ~ .nav-wrapper {
    transform: translateX(0);
}

.toggle:checked ~ .hamburger span {
    transition: all 300ms;
}

.toggle:checked ~ .hamburger span:nth-child(1) {
    transform: translateY(9px) rotateZ(45deg);
}

.toggle:checked ~ .hamburger span:nth-child(2) {
    transform: translateX(50%);
    opacity: 0;
}

.toggle:checked ~ .hamburger span:nth-child(3) {
    transform: translateY(-9px) rotateZ(-45deg)
}