ul.clean {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.no-margin {
    margin: 0;
}

ul.square {
    list-style-type: "-";
    margin: 0;
    padding-left: 1.5rem;
}

ul.table {
    list-style: none;
    margin: 0;
    padding: 0;
    border: $tableBorder;
    border-radius: $radius;
    overflow: hidden;
}

ul.table li {
    margin: 0;
    border-radius: 0;
    transition: background-color 200ms;
}

.page-content ul.table li a {
    border-bottom: none;
}

ul.table li:hover,
ul.table li:focus,
ul.table li:nth-child(odd):hover,
ul.table li:nth-child(odd):focus {
    background-color: $tableBorderColour;
}

ul.table li.current,
ul.table li:nth-child(odd).current {
    background-color: $blue;
}

ul.table li.current a {
    color: white;
}

ul.table li:nth-child(odd):not(:last-child) {
    border-bottom: $tableBorder;
    // border-left: $tableBorder;
    // border-right: $tableBorder;
}

ul.table li:nth-child(odd) {
    background-color: $tableOddColour;
}

// ul.table li:nth-child(2) {
//  border-top: $tableBorder;
// }

ul.table li a {
    padding: 0.5rem;
    border-bottom: 0;
    display: block;
}