#messages {
    width: 100%;
}

.alert > p {
    max-width: 500px;
    width: 100%;
    padding: 0.5rem 1rem;
    color: white;
    font-weight: 500;
    box-shadow: $shadow;
    box-sizing: border-box;
    border-radius: $radius;
    margin: 1rem auto;
}

.alert-success > p {
    background-color: $green;
}

.alert-info > p {
    background-color: $blue;
}

.alert-warning > p {
    background-color: $orange;
}

.alert-danger > p {
    background-color: $red;
}