div.scroll {
    overflow-x: scroll;
}

div.table-wrapper {
    border: 1px solid #E1EAEF;
}

table.responsive {
    width: 100%;
    border-collapse: collapse;
}

table.responsive th,
table.responsive td {
    padding: 0.5rem;
    // min-width: fit-content;
    min-width: 10rem;
}

table.responsive thead {
    background-color: #F0F4F7;
    color: black;
}

table.responsive tbody tr {
    position: relative;
}

table.responsive tbody tr:not(:last-child) {
    border-bottom: $tableBorder;
}

table.responsive tbody tr td:first-child {
    position: absolute;
}

table.responsive tbody tr:nth-child(even) {
    background-color: #FCFCFE;
}

table.responsive thead th,
table.responsive tbody td:first-child {
    font-weight: 500;
    text-align: left;
    background-color: #F0F4F7;
    color: black;
}

table.responsive th.wide,
table.responsive td.wide {
    width: 100%;
}

div.scroll::-webkit-scrollbar {
    -webkit-appearance: none;
}

div.scroll::-webkit-scrollbar:horizontal {
    height: 10px;
}

div.scroll::-webkit-scrollbar-thumb {
    border-radius: .25rem;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    background-color: #6c6c6c;;
}

table.responsive tbody tr td:nth-child(2),
table.responsive tbody tr td:nth-child(3) {
    background-color: $doorColour;
}

table.responsive tbody tr td:nth-child(4) {
    background-color: $soundColour;
}

table.responsive tbody tr td:nth-child(5),
table.responsive tbody tr td:nth-child(6) {
    background-color: $mjColour;
}

table.responsive tbody tr td:nth-child(7),
table.responsive tbody tr td:nth-child(8) {
    background-color: $latinColour;
}