.tag {
    color: white;
    border-radius: 0.25rem;
    padding: 0.125rem 0.25rem;
    font-size: 0.9rem;
    font-weight: 500;
}

.tag.success {
    background-color: $green;
}

.tag.info {
    background-color: $blue;
}

.tag.warning {
    background-color: $orange;
}

.tag.error {
    background-color: $red;
}