.js-table {
    border: $tableBorder;
}

.js-table .entry,
.js-table-header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
}

.js-table-header {
    background-color: $grey2;
    font-weight: 700;
}

.js-table-header div {
    color: white;
}

// .js-table .entry:nth-child(even) {
//     background-color: $grey-input;
// }

.js-table img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.js-table a:not(:last-child) > .entry {
    border-bottom: $tableBorder;
}

.js-table .entry .name,
.js-table-header .name {
    flex-grow: 1;
}

.js-table .entry > div,
.js-table-header > div {
    padding: 0.25rem 0.5rem;
    min-width: 6rem;
    transition: background-color 300ms;
}

.js-table-header > div:hover {
    cursor: pointer;
}

.js-table-header > div.is-checked {
    background-color: $blue;
}

.js-table .entry .icon {
    width: 6rem;
    height: 4rem;
}

.button-group > p {
    font-weight: 700;
    tex-transform: uppercase;
    margin-bottom: 0;
    width: 100%;
}

.button-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.button-group > button {
    border-radius: 0;
    box-shadow: none;
    background-color: $gradEnd;
    margin: 0;
    max-width: 50%;
    width: 100%;
    transition: background-color 200ms;
}

.button-group > button:hover,
.button-group > button:active {
    box-shadow: none;
    background-color: darken($gradEnd, 10%);
}

.button-group > button.is-checked {
    background-color: $green;
    box-shadow: none;
}

input.quickSearch,
input.searchYear {
    border-radius: $radius;
}

input.quickSearch:focus,
input.searchYear:focus {
    box-shadow: inset 0 0 3px $green;
    border-bottom: none;
}

button.js-table-reset {
    margin: 1rem 0;
}

.formats a {
    background-color: $blue;
    padding: 0.25rem;
    border-radius: 0.25rem;
    margin: 0.25rem;
    color: white;
    box-shadow: none;
    transition: box-shadow 300ms;
    font-size: 0.8rem;
}

.formats a:hover,
.formats a:active {
    box-shadow: $shadow;
}

.formats a span {
    color: white;
}