.event-card {
    display: flex;
    flex-direction: column;
    border-radius: $radius;
    overflow: hidden;
    box-shadow: $shadow;
    margin: 1rem 0;
}

.event-card h3 {
    margin-top: 0;
}

.event-card .banner {
    height: 10rem;
}
.event-card .banner img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 15rem;
}

.event-card .content {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: $grey1;
    @media(min-width: $mobileBreakpoint) {
        flex-direction: row;
    }
}

.event-card .content .info {
    flex-grow: 1;
    padding: 0.5rem 1rem;
}

.event-card .content .meta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-color: $blue;
    color: white;
    box-sizing: border-box;
    padding: 0.5rem;
    // height: 100%;
    @media(min-width: $mobileBreakpoint) {
        width: 12rem;
    }
}

.event-card .content .meta p {
    font-size: 1.5rem;
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    @media(min-width: $mobileBreakpoint) {
        margin: auto;
    }
}

.event-card .prices {
    border-left: 1px dashed darken($grey1, 5%);
    padding: 1rem;
    width: 25rem;
    display: none;
    @media(min-width: $mobileBreakpoint) {
        display: block;
    }
}

.event-map img {
    max-width: 100%;
}