.signup {
    margin-bottom: 2rem;
}

.form-wrapper form > div:not(:last-child) {
    margin-bottom: 2rem;
}

.signup {
    margin: auto auto 1.5rem auto;
    max-width: 300px;
    text-align: center;
}

.signup .grid .row:first-child,
.signup .grid .row {
    padding: 1rem;
}

.signup .grid .row:first-child h2 {
    margin: 0;
    color: white;
}