.news-item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.news-item p:nth-child(1) {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 0;
}

.news-item p:nth-child(2) {
    margin-top: 0;
}