.modules li {
    margin: 0;
}

.page-content .modules h2 a {
    border-bottom: none;
}

.modules .card {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    box-shadow: $shadow;
    background-color: $grey1;
    overflow: hidden;
    border-radius: $radius;
    margin-bottom: 1rem;
}

.modules .card > div:first-child img {
    height: 100%;
    object-fit: cover;
    width: 10rem;
}

.modules .card > div:nth-child(2) {
    padding: 1rem;
}

.modules .card > div:nth-child(2) h3 {
    margin-top: 0;
}