.wiki-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.wiki-flex > div {
    margin: 0 0.5rem;
    max-width: 300px;
    width: 100%;
}

.wiki-flex > div ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.wiki-flex > div ul li {
    border-bottom: 1px solid $grey1;
    margin: 0;
}

.page-content .wiki-flex > div ul li a,
.page-content .wiki-flex > div h3 a {
    border-bottom: none;
}