html,
body {
	font-size: 16px;
	line-height: 1.75;
}

h1,
h2,
h3,
h4,
p,
a,
span,
button,
input,
ul,
li,
blockquote,
div,
html,
body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	color: $black;
	line-height: 1.58;
	letter-spacing: -0.003;
}

a {
	text-decoration: none;
}

h1,
h2,
h3,
h4 {
	display: block;
	margin-bottom: 0;
	text-transform: uppercase;
	width: 100%;
}

.bg-blue-grad h1,
.bg-blue-grad h2,
.bg-blue-grad h3,
.bg-blue-grad h4 {
	color: white;
}


.page-content p a:not(.button, .btn) {
	border-bottom: 2px solid $blue;
}

h1 + p.sub,
h2 + p.sub,
h3 + p.sub,
h4 + p.sub {
	color: $grey5;
	font-size: 0.9rem;
	margin-top: 0;
	margin-bottom: 1rem;
}


h1 {
	font-size: 2.5rem;
	line-height: 1.25;
	margin: 1rem 0 0.5rem 0;
}

h2 {
	font-size: 2rem;
	line-height: 1.1;
	margin: 2rem 0 1rem 0;
}

p.sub {
	color: $grey5;
	font-size: 0.9rem;
	margin: -0.25rem auto 0 auto;
}