/**
 * Class _variables.scss
 *
 * @link          https://finnito.nz/
 * @author        Finn LeSueur <finn.lesueur@gmail.com>
 */

/**
 * Core Variables
 */
$radius:            0.25rem;
$shadow:            0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
$shadow-hover:      0 7px 14px rgba(0,0,0,0.12), 0 5px 5px rgba(0,0,0,0.24);
$mobileBreakpoint:  1024px;

/**
 * Base Greys
 */
$grey1:     #F5F5F7;
$grey2:     #777;
$grey3:     #555;
$grey4:     #333;
$grey5:     #222;

/**
 * Core Colours
 */
$gradStart:     #2193b0;
$gradEnd:       #6dd5ed;
$blue:          #5bc0de;
$green:         #5cb85c;
$red:           #d9534f;
$orange:        #f0ad4e;
$black:         #111111;

/**
 * Table Variables
 */
$tableBorder:           1px solid #DAE5EC;
$tableBorderColour:     #DAE5EC;
$tableOddColour:        #ECF1F5;

/**
 * Roster Colours
 */
$doorColour:    #FFEEEE;
$soundColour:   #C7DBEB;
$mjColour:      #EEFFEE;
$latinColour:   #EEEEFF;