{# {% htmlcompress %} #}
<!doctype html>

<!--[if lt IE 7]>
<html class="nojs ms lt_ie7" lang="en"><![endif]-->
<!--[if IE 7]>
<html class="nojs ms ie7" lang="en"><![endif]-->
<!--[if IE 8]>
<html class="nojs ms ie8" lang="en"><![endif]-->
<!--[if gt IE 8]>
<html class="nojs ms" lang="en"><![endif]-->

<html>

	<head>
	    {% include "theme::partials/metadata" %}
	</head>

	{% if event|length > 0 %}
	<body class="event">
		<div class="hero">
			<header id="header">
		    	{% include "theme::partials/navigation" %}
			</header>
			<img
				src="{{ event.banner.make.url }}"
				class="event-banner">
			<div class="hero-content">
				<div class="event-meta">
					<h1 class="event-title">
						{{ event.name }}
					</h1>
					<p class="mid">
						<span class="event-date">
							<span class="month">
								{{ event.start_time.date|date("M") }}
							</span>
							<span class="day">
								{{ event.start_time.date|date("d") }}
							</span>
						</span>
						<span class="event-location">
							{{ event.location.formatted }}
						</span>
					</p>
					<p class="prices">
						{% if (event.student_price|length > 0) %}
						<span class="student">
							Student<br>${{ event.student_price }}
						</span>
						{% endif %}

						{% if (event.nonstudent_price|length > 0) %}
						<span class="non-student">
							Non-Student<br>${{ event.nonstudent_price }}
						</span>
						{% endif %}

						{% if (event.door_price|length > 0) %}
						<span class="door">
							Door<br>${{ event.door_price }}
						</span>
						{% endif %}
					</p>
				</div>

				<div class="links">
					{% if (event.tickets|length > 0) %}
					<div class="tickets-link">
						<a href="{{ event.tickets }}" target="_blank">
							<span class="open-bracket">[</span>
							<span>Tickets</span>
							<span class="close-bracket">]</span>
						</a>
					</div>
					{% endif %}

					{% if (event.facebook|length > 0) %}
					<div class="facebook-link">
						<a href="{{ event.facebook }}" target="_blank">
							<span class="open-bracket">[</span>
							<span>Facebook</span>
							<span class="close-bracket">]</span>
						</a>
					</div>
					{% endif %}
				</div>
			</div>
			</div>
		</div>
	{% else %}
	<body>
		{% include "theme::partials/header" %}
	{% endif %}
		<section class="page">
			{% include "theme::partials/breadcrumbs" %}
			<section class="page-content">
				{% include "theme::partials/messages" %}
		        {% block content %}{% endblock %}
			</section>
		</section>

		{% include "theme::partials/footer" %}
		{% include "theme::partials/bug" %}
		{% include "theme::partials/assets" %}
	</body>
</html>
{# {% endhtmlcompress %} #}
